.main {
    align-items: flex-start;
}


/*top bar*/
.topbar {
    background-color:rgb(204,204,204);
    display: flex;
    width:1000px;
    padding:10px 10px 10px 10px;
    justify-content: space-between;
    align-items: center;
    
}
.topbar > input {
    width: 500px;
}
.Login {
    background-color:rgb(43,120,228);
    color:white;
    height:30px;
    width:70px;
    margin: 10px;
    box-shadow:  5px 5px 0px black;

}

/*column 1*/

.column1 {
    width:500px;
    height:500px;
    flex: 2;
    padding: 20px ;
}

.ninja1 {
    border:2px solid black;
    height:250px;
    width:600px;
    padding: 20px;
    margin-bottom: 20px;
    

}
.ninja2 {
    
    border:2px solid black;
    height:250px;
    width:600px;
    padding: 20px;
}

.left {
    display:inline;
}
.right {
    display:inline;
    text-align:center;
}

.left1{
    display:inline;
    
}

.right2 {
    display:inline;
    text-align:center;
}


/*column2*/

.column2 {
    flex:1px;
    border:2px solid black;
    height:100px;
    width:200px;
    padding:10px;
    margin-top:110px;
    margin-left: 20px;
}



.left > button{
    background-color:rgb(255,217,102);
}
.left1 > button{
    background-color:rgb(255,217,102);
}

.add{
    background-color:rgb(147,196,125);
    height:30px;
    width:150px;
    box-shadow: 5px 5px 0px black;
    
}