h1 {
    background-color: black;
    color: rgb(32, 170, 183);
    padding-left:10px;
}

.myword {
    color:white;
}

h2 {
    background-color:purple;
    text-align: center;
    color:white;
    font-style:italic;
}

h3 {
    background-color:lightblue;
    text-align: right;
    color:black
}