#button1 {
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 2px solid rgb(10, 120, 128);
    color:rgb(10,120,128);
    margin:20px;
    padding: 10px 30px 10px 30px;
    width: 200px;

}

#button2 {
    border-radius:50%;
    background-color: rgb(10, 120, 128);
    color:white;
    margin: 20px;
    height: 50px;
    width: 50px;
    border: green;
    font-size: 200%;
}

#button3 {
    background-color: rgb(5, 72, 155);
    border: 3px solid black;
    color:white;
    padding: 10px 50px 10px 50px;
    box-shadow: 3px 3px 2px  black;

}